.form {
	background: url("https://sotokarton.by/images/slides/28_bg.jpg?v=v6538cd1f97349") no-repeat center;

	&__inner {
		padding: 64px 0;
	}

	&__title {
		max-width: 600px;
		margin: 0 auto 32px;
	}

	&__form {
		font-size: 24px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 600px;
		margin: 0 auto;
	}

	&__input {
		border: 1px solid $gray;
		font-size: 16px;
		border-radius: 8px;
		padding: 16px;
		width: 100%;
	}

	&__btn {
		max-width: 300px;
		width: 100%;
	}
}